.div_69J38wz {
  width: 100%;
  height: 100%;

  display: grid;
  padding: 10px;
}

.div_04bAm9R {
  margin: auto;
}

.div_el22VMQ {
  margin: auto;
  display: grid;
  justify-items: center;
  text-align: center;

  gap: 20px;
  color: var(--color-letter);

  & img {
    width: 100px;
    height: 100px;
    filter: var(--filter-img);
  }
}

.div_36Bj2x6 {
  align-self: start;
  justify-self: center;
  overflow: hidden;

  width: min(100%, 750px);
  border-radius: 8px;
  overflow: hidden;

  display: grid;
  gap: 3px;
}

/* recepcion por normal */
.a_37VC2hx {
  background: var(--color-item);
  color: var(--color-letter);
  display: flex;
  align-items: center;

  width: 100%;
  height: 60px;
  padding: 0 10px;
  gap: 10px;
}

.div_pN383wq {
  position: relative;
  display: flex;

  width: 40px;
  height: 40px;

  & img {
    margin: auto;
    width: 25px;
    height: 25px;
  }

  & span {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #4ca255;
    color: #ffffff;

    width: 20px;
    height: 20px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
  }
}

.div_iaB94Y2 {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr auto;
}

/* recepcion por id */

.div_21EH6K7 {
  background: var(--color-item);
  color: var(--color-letter);

  display: grid;
  padding: 10px;
  gap: 10px;
}

.a_Ale0G7A {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
}

.div_686E97q {
  width: 80px;
  height: 80px;

  position: relative;

  & img {
    width: 100%;
    height: 100%;
    filter: initial;
    border-radius: 8px;
  }

  & span {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #4ca255;
    color: #ffffff;

    width: 20px;
    height: 20px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
  }
}

.div_R77tzMq {
  align-self: start;
  display: grid;
  gap: 10px;
}

.div_7sK416Q {
  display: grid;
  font-size: 14px;
}

.hr_3V8tZX0 {
  border: none;
  background: rgb(181 178 178 / 0.2);
  width: 100%;
  height: 1.25px;
}

.div_8zbeed9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  & span {
    font-size: 13px;

    &.color-red {
      background: red;
      color: #ffffff;

      padding: 5px 15px;
      border-radius: 15px;
    }
  }
}

/* recepcion por id modal */
.div_coYHY1d {
  position: fixed;
  inset: 0;
  display: grid;
}

.div_hs8YwzJ {
  position: fixed;
  background: var(--color-letter);
  inset: 0;
  opacity: 0.1;
}

.div_NlJ0D2C {
  position: relative;
  background: var(--color-item);
  width: min(100%, 450px);
  height: 400px;
  align-self: end;
  justify-self: center;

  display: flex;
}


@media (min-width : 750px){
  .div_coYHY1d{
    padding: 15px;
  }
  .div_NlJ0D2C {
    border-radius: 8px;
  }
}
